{% include "base.html" with page_title='Удалить запись' %}
{% block container %}
    <div class="card">
        <div class="container mt-4">
            <div class="card-header">
                <h5 class="card-title">Удалить запись на интенсив {{ object }}</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="alert alert-warning" role="alert">
                        Вы точно хотите удалить запись ?
                    </div>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <button type="button" onclick="location.href='{% url 'reg_event-detail' object.id %}"
                            class="btn btn-secondary">Отмена
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}