{% include "base.html" with page_title=profile %}
{% block container %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Запись о регистрации</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Студент</dt>
                    <dd class="col-sm-9">{{ reg_event.intern|default_if_none:"&#10060" }}</dd>
                    <dt class="col-sm-3">Оценка интенсива</dt>
                    <dd class="col-sm-9">{{ reg_event.rating|default_if_none:"&#10060" }}</dd>
                    <dt class="col-sm-3">Оценка студента</dt>
                    <dd class="col-sm-9">{{ reg_event.estimation|default_if_none:"&#10060" }}</dd>



                    {% if is_staff %}
                        <a href="{% url 'reg_event-mark' reg_event.id %}" class="btn btn-primary">Оценить</a>
                    {% else %}
                        {% if user.profile.id == reg_event.intern.id %}
                            <a href="{% url 'reg_event-update' reg_event.id %}" class="btn btn-primary">Оценить интенсив</a>
                        {% endif %}
                    {% endif %}

                </dl>
            </div>
        </div>

{% endblock %}