{% extends "base.html" %}

{% block container %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ news.title }}</h5>
            </div>
            <div class="card-body">
                <form method="get" enctype="multipart/form-data">
                    {% csrf_token %}
                        {% if news.photo %}
                        <img src="{{ news.photo.url }}" alt="альтернативный текст" height="300"><br><hr>
                        {% endif %}
                        <span>{{ news.info }}<br><hr></span>
                        <span>Дата создания: {{ news.time_create}}<br><hr></span>
                        <span>Автор: {{ news.author}}<br><hr></span>

                    {% if is_staff %}
                        <a href="{% url 'news:post_edit' news.pk %}" class="btn btn-primary">Редактировать</a>
                        <a href="{% url 'news:post_delete' news.pk %}" class="btn btn-danger">Удалить</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}