{% extends "base.html" %}

{% block container %}

    {% for post in news %}
        <div class="card" style="width: 18rem;">
        {% if post.photo %}
          <img src="{{ post.photo.url }}" class="card-img-top" alt="...">
        {% else %}
            ***
        {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.info }}</p>
            <a href="{% url 'news:post_detail' post.id %}" class="btn btn-primary">Перейти по ссылке</a>
          </div>
        </div>
    {% endfor %}
{% endblock %}

{% block add_new %}

     <li class="nav-item active">
          <a href="{% url 'news:post_new' %}">Добавить новость</a>
    </li>
{% endblock %}

